<%- include("partials/header") -%>

<main class="about-page">

<h2>ABOUT THİS APP</h2>

<p>In this app every user can see their list. You can use it safely.
You can fallow me from Github and Linkedin. the links are in footer
</p>
<div class="about-page-btns">
    <a class="btn rounded-pill" href="/login">LOGIN</a>
    <a class="btn rounded-pill" href="/register">REGISTER</a>
</div>

</main>
<%- include("partials/footer") -%>
