<%- include("partials/header"); -%>
<main class="alert-page">
    <p>You have already logged in</p>
    <form action="/alert" method="post">
        <button class="btn rounded-pill" type="submit">Log out</button>
    </form>
</main>
<%- include("partials/footer"); -%>